.tx_box {
  position: relative;
  top: 10px;
  width: 100%;
  height: 75px;
  background: #ffffff;
  overflow: hidden;
}
.tx_title {
  position: relative;
  top: 15px;
  left: 10px;
  float: left;
}
.tx_text1 {
  clear: left;
  position: relative;
  top: 15px;
  left: 10px;
  font-size: 10px;
  color: #cccccc;
}
.tx_img {
  clear: left;
  position: relative;
  top: -25px;
  right: 15px;
  width:45px;
  height: 45px;
  float: right;
}
.baseinfo_submit {
  position: relative;
  top: 20px;
}
.line_box2 {
  width: 100%;
  height: 50px;
  background: #ffffff;
  overflow: hidden;
  border-bottom: 1px solid #eeeeee;
}
.linebox_title {
  position: relative;
  top: 5px;
  left: 10px;
  float: left;
}
.linebox_text1 {
  clear: left;
  position: relative;
  top: 8px;
  left: 10px;
  font-size: 10px;
  color: #cccccc;
}
.linebox_input {
  clear: left;
  position: relative;
  top: -25px;
  right: 15px;
  float: right;
}
.linebox_textInput {
  clear: left;
  position: relative;
  top: 20px;
  left: 8px;
}
.linebox_textInput textarea {
  border:0px!important;
}
.linebox_input input{
  text-align: right;
  position: relative;
  top: -15px;
  border: 0px;
  height: 50px;
}

input:focus{outline:none;}
.rightjt {
  position: relative;
  float: right;
  top: -30px;
  right: 10px;
  color: #999999;
}
textarea:focus{outline:none;}
.weui-cell__ft .vux-cell-primary .vux-datetime-value {
  position: relative;
  top: 5px!important;
  right:20px;
  float: right!important;
  font-size: 12px!important;

}
div.weui-cell__ft .vux-cell-primary .vux-datetime-value::after {
  position: relative;
  top: 5px!important;
}

.vux-cell-value {
  position: relative;
  top: 5px!important;
  right: -15px;
  float: right;
  font-size: 12px;
}
.line_box2 p {
  position: relative;
  font-size: 14px;
  top: 5px!important;
  left: -5px!important;
  float: left;
}
.weui-label {
  font-size: 14px;
  position: relative;
  top: 5px;
  left: -3px;
}
span.vux-popup-picker-value {
  position: relative;
}
.vux-cell-box:before {
  border: 0px!important;
}
.saveInfo_btn {
  position: relative;
  top: 40px;
  width: 160px!important;
  height: 40px!important;
  background-image: linear-gradient(52deg,#a6c0fe 9%,#8ec5fc 93%);
  border:0px!important;
  font-size: 14px;
}
.weui-cell_access .weui-cell__ft:after {
  position: absolute;
  top: 5px!important;
  display: none!important;
}
